<!DOCTYPE html>
<html id="html" lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Dashboard | IPTag</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/sidebar.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"></link>
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">

  
</head>


<body style="display: flex;" id="body-pd">
  
  <!--Container Main start-->
  <main class="contaner d-flex align-items-center">
    <div class="col-sm-12">
      <div class="row">
        <h1>Bem-vindo de volta, <span id="nome">Felipe!</span></h2>
      </div>
      <div class="row mt-3">
        <h3>Painel de relatório</h3>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="white-card">
                <div class="row">
                  <p class="white-card-title">Todos os dispositivos</p>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <h1 id="total">372</h1>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 justify-content-end d-flex">
                    <div class="white-card-percent green-percent" id="total-porcentagem">10.5%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="white-card">
                <div class="row">
                  <p class="white-card-title">Novos dispositivos</p>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <h1 id="novos">34</h1>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 justify-content-end d-flex">
                    <div class="white-card-percent green-percent" id="novos-porcentagem">18.7%</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row mt-4">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="white-card">
                <div class="row">
                  <p class="white-card-title">Dispositivos com bateria baixa</p>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <h1 id="bateria">54</h1>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 justify-content-end d-flex">
                    <div class="white-card-percent red-percent" id="bateria-porcentagem">18.7%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="white-card">
                <div class="row">
                  <p class="white-card-title">Dispositivos com defeito ou não conectados</p>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <h1 id="defeitos">22</h1>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 justify-content-end d-flex">
                    <div class="white-card-percent green-percent" id="defeitos-porcentagem">18.7%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="white-card">
            <div class="row">
              <p>Rastreamentos realizados</p>
              <h1 class="graphic-white-card">331</h1>
            </div>
            <div class="row align-items-center">
              <div id="graphic-white-card"></div>

            </div>
          </div>
        </div>
        
      </div>
    </div>
  </main>
  <!--Container Main end-->

</body>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript"  src="../js/scripts.js"></script>
<script src="../js/dashboard.js"></script>

</html>