<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | IPTag</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">


</head>

<body>
    <main class="contaner">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 align-items-center d-flex" id="white-background">
                <div class="row justify-content-center">
                    <div class="row justify-content-center">
                        <h1 class="title">IPTag</h1>
                        <p class="welcome-text">Olá novamente!</p>
                    </div>
                    <div class="row">
                        <p class="welcome-describe">Para realizar login é necessario que você possua uma conta
                            já existem no sistema. Caso não tenha, <span class="link-metamask">por favor entre em
                                contato com os responsáveis.</span></p>
                    </div>

                    <div class="row justify-content-center mt-2">
                        <div class="col-10">
                            <div class="form-group">
                                <input type="text" class="white-card-input" id="email" aria-describedby="nome"
                                    placeholder="E-mail ou carteira*">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-10">
                            <div class="form-group">
                                <input type="password" class="white-card-input" id="senha" aria-describedby="senha"
                                    placeholder="Senha*">
                                <i id="see" class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-10">
                            <div id="error">

                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <button onclick="verifyLogin()"
                            class="btn-white align-items-center d-flex justify-content-center">
                            Entrar</button>
                    </div>

                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-0 d-sm-none d-md-block" id="blue-background">
                <div class="glass d-flex justify-content-center align-items-center"><img class="logo-ipt-dark"
                        src="../images/logo-ipt-dark.png" alt="Logo IPT"></div>
            </div>
        </div>
    </main>
    <script src="../js/login.js"></script>
</body>

</html>