<!DOCTYPE html>
<html id="html" lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Visualizar dispositivo | IPTag</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/sidebar.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

</head>


<body style="display: flex;" id="body-pd">

  <!--Container Main start-->
  <main class="contaner d-flex align-items-center">
    <div class="col-sm-12">
      <div class="row mt-3">
        <h3>Dispositivo ESP-32AB</h3>
      </div>
      <div class="row mt-1">
        <h4>Informações</h4>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
          <div class="white-card image-container">
            <img class="image-white-card" src="../images/device.png" alt="Image device">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="white-card">
                <div class="row" id="dados_card">
                 
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="white-card">
                <div class="row" id="origem-card">
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row location-card mt-4">
        <h4>Localização</h4>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="white-card image-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5172.236027732104!2d-46.73581376427329!3d-23.556834094683087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce56111f23979f%3A0x4efc1ff99667559c!2sIPT%20-%20Instituto%20de%20Pesquisas%20Tecnol%C3%B3gicas!5e0!3m2!1spt-BR!2sbr!4v1668605103010!5m2!1spt-BR!2sbr"
              width="605" height="180" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="row">

            <div class="white-card" style="height: unset;">
              <div class="row" id="location-card">
              
            </div>
            <div class="row mt-2">
              <div class="btns-container">
                <a class="tracking-btn" href="#" id="find">Rastrear novamente</a>
                <a class="ringing-btn d-flex justify-content-center align-items-center" id="play" href="#"><i class="fa fa-play" aria-hidden="true"></i>Tocar</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <!--Container Main end-->

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type='text/javascript'
  src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
  <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
<script type='text/javascript' src='../js/scripts.js'></script>
<script src="../js/view-device.js"></script>

</html>