:root {
    --blue-100: #005B8E;
    --blue-0: #00BBE7;
    --white: #fff;
    --gray-100: #6C6D6F;
    --gray-0: #F2F2F2;
    --black: #373D43;
    --green-0: #D1E7DD;
    --green-100: #0F5132;
    --red-0: #F8D7DA;
    --red-100: #932029;
    --orange-0: #F8E5D7;
    --white-glass-100: rgba(255, 255, 255, 0.4);
    --white-glass-0: rgba(255, 255, 255, 0.1);
    --shadow: rgba(0, 0, 0, 0.25);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url(../fonts/Ubuntu-Bold.ttf);
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;

}

h1, h2, h3, h4, h5 {
    font-family: "Ubuntu-Bold";
    color: var(--black);
}

p {
    font-family: "Montserrat";
    color: var(--black);
}

.contaner {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

#white-background {
    background-color: var(--white);
    max-height: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 16px;
}

#blue-background {
    max-height: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--blue-100) 0%, var(--blue-0) 100%);
    min-height: 100vh;
    padding: 16px;
    backdrop-filter: blur(8px);
}

.title {
    text-align: center;
}

.glass {
    width: 100%;
    height: 100%;
    border: 1px solid var(--white);
    min-height: 94.5vh;
    border-radius: 16px;
    backdrop-filter: blur(4px);
    background: linear-gradient(-180deg, var(--white-glass-100), var(--white-glass-0) 100%);
    filter: drop-shadow(0px 4px 4px var(--shadow));

}

.logo-ipt-dark {
    max-width: 300px;


}

.welcome-text {
    color: var(--blue-0);
    font-size: 22px;
    font-family: "Montserrat-Bold";
    text-align: center;
}

.welcome-describe {
    font-size: 18px;
    text-align: center;

}

.link-metamask {
    font-family: "Montserrat";
    color: var(--blue-100);
    text-decoration: none;
}

.link-metamask:hover {
    color: var(--blue-0);
}

.btn-white {
    font-family: "Montserrat-Bold";
    background-color: var(--white);
    border: 2px solid var(--blue-0) !important;
    border-radius: 32px;
    color: var(--black);
    height: min-content;
    padding: 8px;
    width: 100%;
    max-width: 330px;
}

.btn-white:hover {
    font-family: "Montserrat-Bold";
    background-color: var(--blue-0);
    border-radius: 2px;
    color: var(--white);
    border-radius: 32px;
    color: var(--black);
    height: min-content;
    padding: 8px;
    width: 100%;
    max-width: 330px;

}

.icon-metamask {
    width: 30px;
    margin-right: 8px;
}

@media (max-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
}